// Light mode
$light-main: #fff;
$light-gray: #aeaeae;
$light-black: #282828;

// Themes
$theme-red: #ca3f54;
$theme-purple: #a54bec;
$theme-green: #2bae66ff;
$theme-yellow: #ffa800;

// Dark mode
$dark-main: #282828;
$dark-black: #181818;
